<nav>
    <ul class="flex justify-between py-3 px-1 bg-slate-200">
        <div class="flex gap-4">
            <li routerLinkActive="text-slate-600"><a class="font-bold" routerLink="/trains">Train</a></li>
            <li routerLinkActive="text-slate-600"><a routerLink="/home">Home</a></li>
            <li routerLinkActive="text-slate-600"><a routerLink="/tickets">My tickets</a></li>
            <li routerLinkActive="text-slate-600"><a routerLink="/about">About</a></li>
        </div>
    </ul>
</nav>