<table class="w-full">
    <thead>
        <tr class="border-b border-b-black">
            <th class="text-center p-1">Number</th>
            <th class="text-center">From</th>
            <th class="text-center">Departure</th>
            <th class="text-center">To</th>
            <th class="text-center">Arrival</th>
            <th class="text-center">Travels</th>
            <th class="text-center">Type</th>
            <th class="text-center">Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let train of trains | async" class="odd:bg-slate-200">
            <td class="text-center">{{train.number}}</td>
            <td class="text-center">{{train.from}}</td>
            <td class="text-center">{{train.departure | date: 'dd.MM.yyyy. HH:mm'}}</td>
            <td class="text-center">{{train.to}}</td>
            <td class="text-center">{{train.arrival | date: 'dd.MM.yyyy. HH:mm'}}</td>
            <td class="text-center">{{(train.travels * 60000) | date: 'HH:mm' : 'UTC'}}</td>
            <td class="text-center">
                <figure class="flex justify-center">
                    <img src="assets/images/{{train.type}}.{{train.type == 'inter-city' ? 'svg' : 'jpg'}}" alt="{{train.number}}">
                </figure>
            </td>
            <td class="text-center">{{train.price}}rsd</td>
            <td class="p-2 ">
                <div class="flex justify-center">
                    <button routerLink="/train-detail/{{train._id}}" class="bg-slate-500 text-white px-2 py-1 rounded-md">Details</button>
                </div>
            </td>
            <td class="p-1">
                <div class="flex justify-center">
                    <button routerLink="/tickets-buy/{{train._id}}" class="bg-red-500 text-white px-2 py-1 rounded-md">Buy ticket</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>